html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #4E6680;
    font-family: 'Open Sans', sans-serif;
}
.wraper {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.board {
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    max-width: 100%;
    margin: 10px;
}
header {
    height: 50px;
    margin: 10px;
    background-color: white;

}
nav {
    min-height: 100%;
    min-width: 50%;
    display: inline-block;
}
.buttons {
    width: 100%;
    height: 50px;
}
.btn {
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
}

.options {
    height: 300px;
    width: 600px;
    background-color: white;
    display: inline-block;
}

.active {
    background-color: #263A55;
    color: white;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.active:hover {
    background-color: #57CB88;
    color: black;
}
.user {
    background-color: white;
    height: 300px;
    width: 100px;
    display: inline-block;
}
.row {
    min-width: 100%;
}
